body {
    background-color: white;
  }

  img {
    border-radius: 10%;
    height: 260px;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #011314a1;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #a1e8f1,
                 1px 2px 0px #a1e8f1,
                 1px 3px 0px #a1e8f1,
                 1px 4px 0px #a1e8f1,
                 1px 5px 0px #a1e8f1,
                 1px 6px 0px #a1e8f1,
                 1px 10px 5px rgba(16, 16, 16, 0.5),
                 1px 15px 10px rgba(16, 16, 16, 0.4),
                 1px 20px 30px rgba(16, 16, 16, 0.3),
                 1px 25px 50px rgba(16, 16, 16, 0.2);
  }

  h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #191c1da1;
    text-shadow: 2px 2px 4px rgba(51, 53, 52, 0.1),
                3px 4px 4px rgba(221, 233, 233, 0.15),
                4px 6px 4px rgba(181, 187, 187, 0.2),
                5px 8px 4px rgba(205, 207, 207, 0.25);
  }

.styled-table {
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*min-width: 400px;*/
    max-width: 75%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 5px 11px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    vertical-align: top;
    background-color: #e1e6e3;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    vertical-align: top;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    vertical-align: top;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    vertical-align: top;
}

.btn {
    background: #34d99c;
    background-image: -webkit-linear-gradient(top, #34d99c, #575757);
    background-image: -moz-linear-gradient(top, #34d99c, #575757);
    background-image: -ms-linear-gradient(top, #34d99c, #575757);
    background-image: -o-linear-gradient(top, #34d99c, #575757);
    background-image: linear-gradient(to bottom, #34d99c, #575757);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 15px 6px 15px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cfcbc;
    background-image: -webkit-linear-gradient(top, #3cfcbc, #567d6c);
    background-image: -moz-linear-gradient(top, #3cfcbc, #567d6c);
    background-image: -ms-linear-gradient(top, #3cfcbc, #567d6c);
    background-image: -o-linear-gradient(top, #3cfcbc, #567d6c);
    background-image: linear-gradient(to bottom, #3cfcbc, #567d6c);
    text-decoration: none;
  }

  